.card4{
  color:white;
  font-size:104%;
  width:100%;
  float:left;
  height:90px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #B22222;
}
::-webkit-scrollbar-thumb:hover {
  background: #8B0000;
}
